<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Assets/css/homepage.css">
    <link rel="icon" href="../../Assets/img/lang_no_pao.png">
    <link rel="stylesheet" href="../../Assets/css/global.css">
    <title> Lang-Lang World </title>
</head>

<body>

    <header class="">
        
        <div class="cabecalho">
         
            <div>

                <a class="Icone_lang" href="#">

                    <img src="../../Assets/img/lang_no_pao.png" alt="">
                </a>

            </div>

                <ul class="links">

                    <a href="#">Carrinho</a>
                    <a href="#">Cardapio</a>
                    <a href="#">Cadastre-se</a>
                    <a href="#">Login</a>

                </ul>
            
        </div>

    </header>

</body>

</html>